<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
  <test name="Login">
    <classes>
      <class name="testcases.Login"/>
      </classes>
  </test> <!-- Login --> 
  
  <test name="Register">
    <classes>
      <class name="testcases.Register"/>
    </classes>
  </test> <!-- Register --> 
  
  <test name="Order">
    <classes>
      <class name="testcases.Order"/>
    </classes>
  </test> <!-- Order--> 
  
  <test name="CancelOrder">
    <classes>
      <class name="testcases.CancelOrder"/>
    </classes>
  </test> <!-- CancelOrder--> 
  
  <test name="PrintShop">
    <classes>
      <class name="testcases.PrintShop"/>
    </classes>
  </test> <!--PrintShop-->
  
  <test name="ModifyData">
    <classes>
      <class name="testcases.ModifyData"/>
    </classes>
  </test> <!--ModifyData-->
  
  <test name="DupRegister">
    <classes>
      <class name="testcases.DupRegister"/>
    </classes>
  </test> <!--DupRegister-->
  
  <test name="ErrPRegister">
    <classes>
      <class name="testcases.ErrPRegister"/>
    </classes>
  </test> <!--ErrPRegister-->
  
   <test name="ErrMRegister">
    <classes>
      <class name="testcases.ErrMRegister"/>
    </classes>
  </test> <!--ErrMRegister-->
  
  <test name="LoginFail">
    <classes>
      <class name="testcases.LoginFail"/>
    </classes>
  </test> <!--LoginFail-->
  
  <test name="ResetPwd">
    <classes>
      <class name="testcases.ResetPwd"/>
    </classes>
  </test> <!--ResetPwd-->
  
  <test name="ModifyPwd">
    <classes>
      <class name="testcases.ModifyPwd"/>
    </classes>
  </test> <!--ModifyPwd-->
  
  <test name="Pay">
    <classes>
      <class name="testcases.Pay"/>
    </classes>
  </test> <!--Pay-->
  
  <test name="CancelPay">
    <classes>
      <class name="testcases.CancelPay"/>
    </classes>
  </test> <!--CancelPay-->
  
</suite> <!-- Suite -->
