<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
  <test name="Login">
    <classes>
      <class name="testcases.Login"/>
      </classes>
  </test> <!-- Login --> 
  <test name="Register">
    <classes>
      <class name="testcases.Register"/>
    </classes>
  </test> <!-- Register --> 
  <test name="Order">
    <classes>
      <class name="testcases.Order"/>
    </classes>
  </test> <!-- Order--> 
  <test name="PrintShop">
    <classes>
      <class name="testcases.PrintShop"/>
    </classes>
  </test> <!--PrintShop-->
  <test name="ModifyData">
    <classes>
      <class name="testcases.ModifyData"/>
    </classes>
  </test> <!--ModifyData-->
  <test name="DupRegister">
    <classes>
      <class name="testcases.DupRegister"/>
    </classes>
  </test> <!--DupRegister-->
  <test name="LoginFail">
    <classes>
      <class name="testcases.LoginFail"/>
    </classes>
  </test> <!--LoginFail-->
  <test name="ResetPwd">
    <classes>
      <class name="testcases.ResetPwd"/>
    </classes>
  </test> <!--ResetPwd-->
</suite> <!-- Suite -->
